<div>
  <img src='images/beer.png' alt='A beer' width='450px' />
  <a class='btn btn-primary' href='/beers' role='button'>Check the beers!</a>
  <a class='btn btn-primary' href='#' role='button'>Check a Random Beer</a>
  <!-- link to the beers-->
</div>